<div *ngIf="loading" class="loading-indicator">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="imageURL" class="card-container">
    <mat-card>
        <mat-card-content>
            <img [src]="imageURL" alt="Loaded from Firebase Storage">
        </mat-card-content>
    </mat-card>
</div>

<div class="card-container">
    <mat-card *ngIf="!loading">
        <mat-card-header>
            <mat-card-title>Modify delay time</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label for="time">Milliseconds</mat-label>
                <input matInput type="number" [formControl]="time" />
            </mat-form-field>
            <button mat-raised-button (click)="modify()">Modify</button>
        </mat-card-content>
    </mat-card>
</div>