<mat-sidenav-container>
  <mat-sidenav-content>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxHide.sm fxHide.xs>
      <mat-toolbar color="primary" fxFlex>
        <ul fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
          <li><button mat-raised-button [routerLink]="'/show'">Slideshow</button></li>
          <li><button mat-raised-button [routerLink]="'/login'">Login</button></li>
        </ul>
      </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet />