<mat-sidenav-container>
  <mat-sidenav-content>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxHide.sm fxHide.xs>
      <mat-toolbar color="primary" fxFlex>
        <ul fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
          <li *ngIf="user"><button mat-raised-button [routerLink]="'/show'">Slideshow</button></li>
          <li *ngIf="user"><button mat-raised-button [routerLink]="'/watch'" >What to watch?</button></li>
          <li *ngIf="!(user)"><button mat-raised-button [routerLink]="'/login'">Login</button></li>
          <li *ngIf="user"><button mat-raised-button [routerLink]="'/login'" (click)="logout()">Logout</button></li>
        </ul>
      </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet />
